* {
  margin: 0 auto;
}

.Box_top {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 644.234px;
}

.headerBanner {
  width: 100%;
}

.Box_top1 {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 366.72px;
  margin-top: 170.88px;
  width: 100%;
}

.Box_top1_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 82.073px;
}

.Box_top1_2 {
  line-height: 1.458vw;
  font-family: PingFangSC-Regular;
  font-size: 0.937vw;
  color: white;
  margin-top: 0.7%;
}

.Box_top1_3 {
  margin-top: 1.6vw;
  display: inline-block;
}

.Box_top1_3_1 {
  width: 8.8vw;
  height: 2.5vw;
  line-height: 1.3vw;
  font-family: PingFangSC-Regular;
  font-size: 0.9vw;
  color: #2e333a;
  background: white;
  border-radius: 1.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Box_top1_3_2 {
  height: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_top2 {
  width: 100%;
  height: 2.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0px;
  background: black;
  opacity: 0.6984;
}

.Box_top2_1 {
  padding-left: 364.8px;
  z-index: 1;
  line-height: 1.1vw;
  font-family: PingFangSC-Regular;
  font-size: 0.8vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.Box_center {
  margin-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.Box_center_MD {
  width: 5.7vw;
  background: white;
  border-radius: 0.5vw;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 0.1vw 0.5vw 0px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 0.1vw 0.5vw 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 80px;
  right: 50px;
  z-index: 5;
}

.Box_center_MD .Box_center_MD_1 {
  padding: 1vw 0px 0.6vw;
  height: 1vw;
  line-height: 1vw;
  font-family: PingFangSC-Regular;
  font-size: 0.7vw;
  color: #2e333a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #f0f0f0;
  z-index: 1;
}

.Box_center_MD .Box_center_MD_2 {
  margin: 0.5vw 0px;
  height: 1vw;
  line-height: 1vw;
  font-family: PingFangSC-Regular;
  font-size: 0.7vw;
  color: #2e333a;
}

.Box_center_MD .Box_center_MD_4 {
  width: 100%;
  height: 1.9vw;
  background: #e63047;
  border-radius: 0px 0px 0.5vw 0.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0.9vw;
  font-family: Tahoma;
  font-size: 0.7vw;
  color: white;
}

.Box_center1 {
  margin-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.Box_center1_1 {
  height: 25px;
  line-height: 25px;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #2e333a;
  margin-top: 10px;
}

.Box_center1_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
}

.Box_center1_2 p {
  height: 19px;
  line-height: 19px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #2e333a;
  position: absolute;
  top: 6.8vw;
}

.Box_center1_2 img {
  width: 5.2vw;
  position: absolute;
  top: 0.8vw;
  left: 0.8vw;
}

.Box_center1_2_1 {
  width: 6.8vw;
  height: 7.7vw;
  margin-left: 1.8vw;
  margin-right: 1.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.Box_center2 {
  margin: 25px auto 61px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1330px;
  height: 630px;
}

.Box_center2 .Box_center2_banner1 {
  margin: 25px auto 61px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1330px;
  height: 630px;
}

.Box_center2 .Box_center2_banner_top {
  width: 100%;
  position: absolute;
  top: 175px;
  left: 0px;
}

.Box_center2 .Box_center2_right {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 18px;
  top: 227px;
  z-index: 3;
}

.Box_center3_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_center3_1 .Box_center3_2 {
  height: 25px;
  line-height: 25px;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #2e333a;
  margin-top: 10px;
}

.Box_center3_3 {
  width: 368px;
  height: 429px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_center3_3 .Box_center3_3_1 {
  height: 58px;
  line-height: 29px;
  font-family: PingFangSC-Regular;
  font-size: 21px;
  color: rgba(46, 51, 58, 0.7);
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_center3_4 {
  width: 368px;
  height: 429px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_center3_4 .Box_center3_4_1 {
  height: 58px;
  line-height: 29px;
  font-family: PingFangSC-Regular;
  font-size: 21px;
  color: rgba(46, 51, 58, 0.7);
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_center3_5 {
  width: 368px;
  height: 429px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_center3_5 .Box_center3_5_1 {
  height: 58px;
  line-height: 29px;
  font-family: PingFangSC-Regular;
  font-size: 21px;
  color: rgba(46, 51, 58, 0.7);
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_center4 {
  width: 100%;
  height: 1326.410px;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_center4 .Box_center4_1 {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_center4 .Box_center4_2 {
  height: 25px;
  line-height: 25px;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #2e333a;
  margin-top: 10px;
}

.Box_center4 .Box_center4_3 {
  margin-top: 6.3vw;
  width: 24.2vw;
  height: 12.5vw;
  background: white;
  border-radius: 1vw;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0px 0.2vw 1.6vw 0px;
          box-shadow: rgba(0, 0, 0, 0.08) 0px 0.2vw 1.6vw 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_center4 .Box_center4_3 .Box_center4_3_1 {
  line-height: 1.7vw;
  font-family: PingFangSC-Regular;
  font-size: 1.6vw;
  color: #2e333a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_center4 .Box_center4_3 .Box_center4_3_2 {
  line-height: 1.3vw;
  font-family: PingFangSC-Light;
  font-size: 0.9vw;
  color: rgba(46, 51, 58, 0.804);
  margin: 1vw 1.6vw 0px 1.8vw;
}

.Box_bottom {
  margin-top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 295px;
  background: white;
  -webkit-box-shadow: #e0e0e0 0px -1px 0px 0px;
          box-shadow: #e0e0e0 0px -1px 0px 0px;
}

.Box_bottom .Box_bottom_top {
  width: 80%;
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Box_bottom .Box_bottom_center {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12px;
  line-height: 23px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #2e333a;
}

.Box_bottom .Box_bottom_down {
  margin: 81px 0px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Box_bottom_down img {
  height: 27px;
  margin-right: 18px;
}
